# Unity 관련
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
sysinfo.txt
*.log
*.pidb
*.pidb.meta
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
*.opendb
*.VC.db
mono_crash.*

# 빌드 파일
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Init test scenes
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# JetBrains / VS 설정
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.booproj
*.svd
.vs/
.gradle/
ExportedObj/
.consulo/
*.DotSettings.user

# 기타 IDE 및 OS 관련
.vscode/
.DS_Store
*.swp

# Unity Collaborate
.collab/
